
<div class='container'>

    <h6>
        Each reddit post/comment are analyzed using TextBlob to find the nouns from each sentence. Those nouns are then compared to the tickers stored in the database. This was applied to help prevent false positives when spotting mentioned tickers. Before searching the nouns they are normalized by removing spaces special characters and capitalized. When comparing the tickers in nouns and tickers found in all text I notice that all text is less selective and tends to pick up on common words more often.  
    </h6>
    <br>
  
  </div>