
<div class="container-fluid">

<canvas id="bar-chart" width="800" height="450"></canvas>  
<br>
<button class="btn btn-outline-secondary" type="submit" initial_reset=True onclick="location.href='{% url "grapher:SentimentView"  sortby="sentiment"  %}'" name='mybtn2'>Sort By Sentiment</button>
<button class="btn btn-outline-secondary" type="submit" initial_reset=True onclick="location.href='{% url 'grapher:SentimentView' sortby='count'  %}'" name='mybtn2'>Sort By Mentions</button>

  </div>
    <script>
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: {{labels|safe}},
      datasets: [
        {
          backgroundColor: {{backgroundColor|safe}},
          data: {{data|safe}}
        }
      ]
    },
    options: {
      scales:{
        yAxes: [{ticks:{fontColor:'#fff'}}],
        xAxes: [{ticks:{fontColor:'#fff'}}]
      },
      legend: { display: false },
      title: {
        display: true,
        text: 'Sentiment and mentions',
        label: {{dataset_labels|safe}},
        fontColor:"#fff"
      }
    }
});
    </script>

