
<h1>{{ticker}} has been added to the que to be added</h1>
<h2>It can take some time for the charts to reflect the newly added ticker.</h2>


<h3>
  Redirecting to home page after <span id="countdown">10</span> seconds
</h3>

<br>
<button type="submit"  onclick="location.href='{% url 'home' %}'" name='mybtn3'>Home</button>

<!-- JavaScript part -->
<script type="text/javascript">
    
    // Total seconds to wait
    var seconds = 5;
    
    function countdown() {
        seconds = seconds - 1;
        if (seconds < 0) {
            // Chnage your redirection link here
            window.location = "{% url 'home' %}";
        } else {
            // Update remaining seconds
            document.getElementById("countdown").innerHTML = seconds;
            // Count down using javascript
            window.setTimeout("countdown()", 1000);
        }
    }
    
    // Run countdown function
    countdown();
</script>