



<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">

    <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.credly.com/badges/67b16c78-76b7-4772-bcbf-4a1306fe2f72" role="button" target="_blank">
            <i class="cib-kubernetes" style='font-size:40px;'></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://hub.docker.com/u/jessecow7/" role="button" target="_blank">
            <i class="cib-docker" style='font-size:40px;'></i>
        </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/jessektaylor/" role="button" target="_blank">
        <i class="cib-github" style='font-size:40px;'></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="{% url 'database_overview:DataBaseOverView' %}" role="button" target="_blank">
            <i class="cib-postgresql" style='font-size:40px;'></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/jessektaylor/djangoproject" role="button" target="_blank">
            <i class="cib-django" style='font-size:40px;'></i>
        </a>
    </section>

    <!-- Section: Text -->
    <section class="mb-4">
        <h6>Thanks for visiting! </h6>
      <h6>
        “You only learn who has been swimming naked when the tide goes out.”  Warren Buffet
      </h6>
       <div class='container'>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Not Investment Advice</strong>  
        
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
          Disclaimer!
        </button>
  

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Disclaimer!</h5>
            <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <h4>Views Expressed</h4>
            <p>The views, thoughts, and opinions expressed on this site belong solely to the author and not that of the author's employer , organizations, and other groups or individuals. The opinions expressed should not be considered professional financial investment advice. </p>
            <h4>Do Your Own Research </h4>
            <p>This is not a site is not for giving or receiving financial advice, concerning investment decisions, tax, or legal advice. I am not a financial advisor. This site is not affiliated with any brokerage firm and is NOT available for public use. Trading can put capital at substantial risk for investors. An Investor could potentially lose all or even more than the initial capital invested. This website is not designed to give trading advice and the main purpose is to explore alternative ways to evaluate data.  </p>
            <h4>Not Responsibility for Errors and Omissions</h4>
            <p>The data shown is not guaranteed to be accurate and is used to demonstrate various ways one could interpret data. I assume no responsibility or liability for any errors or omissions in any content displayed on this site. The information is supplied on an “as is” basis with no guarantees of completeness, accuracy, usefulness or timeliness. This site does not have access to non-public information. </p>
            <h4>Past Performance</h4>
            <p>Past performance is not a reliable indicator of future results. Hypothetical performance does not in any way represent the true values of portfolios but rather represent historical performance. Backtesting has many limitations that generally arise with the benefit of hindsight.  </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    </section>
    <!-- Section: Text -->

    
  </div>


</footer>



