
#treemaptolltipcss {
  position: absolute;
  z-index: 999;
  border-radius: 10px;
  background-color: #353839;
  padding: 10px;
  border-style: solid;
  color: white;
}

#stock-stat-dropdown {
  position: absolute;
  z-index: 1;
}

